<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>쇼핑몰 회원관리</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <div>
        <h1 id="header">쇼핑몰 회원관리 ver1.0</h1>
        <nav id="nav">
        <ul>
       <li><a href="../join.html" target="_parent">회원등록</a></li>
       <li><a href="../member_list.html" target="_parent">회원목록조회/수정</a></li>
        <li><a href="../sales_list.html" target="_parent">회원매출조회</a></li>
        <li><a href="../index.html" target="_parent">홈으로</a></li>
       </ul>
    </nav>
   </div>
</body>
</html>